@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("header.css");
@import url("banner.css");
@import url("carrossel.css");
@import url("topicos.css");
@import url("contato.css");
@import url("rodape.css");

:root {
    --cor-background: #C4C4C4;
    --branco: #FFFFFF;
    --laranja: #EB9B00;
    --fonte-principal: "Poppins", sans-serif;
    --azul-degrade: linear-gradient(97.54deg, #002f52 35.49%, #326589 165.37%);
    --azul: #002F52;
    --fonte-secundaria: "Josefin Sans", sans-serif;
    --preto: #000000;
    --cinza-claro-titulo: #858585;
    --cinza-escuro-item: #474646;
    --cor-background-telamaior: #EBECEE
}

body {
    font-family: var(--fonte-principal);
    background-color: var(--cor-background);
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
    line-height: 1.2em;
}

@media screen and (min-width: 1024px) {
    body {
        background-color: var(--cor-background-telamaior);
    }
}